@{
    ViewBag.Title = "Skjátextar";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table table-bordered">
    <tr>
        <th>Skjátextar</th>
        <th>Sent inn</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>>@item.Title</td>
            <td>@item.DateLastEdited</td>
        </tr>
    }
</table>