@model skjatextar.Models.NewVideoViewModel
@{
    ViewBag.Title = "CreateVideo";
}

<h2>Bæta við myndefni í gagnagrunn</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Request</h4>
        <hr/>
        <div class="form-group">
            @Html.TextBoxFor(model => model.ThisVideo.Name)
            <div class="col-md-10">
                <select name="ValinFlokkur">
                    @foreach(var item in Model.Categories)
                    {
                        <option value="@item.Title" id="dropdownlisti" class="VideoDropdown">@item.Title</option>
                    }
                </select>
                   
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Senda inn" class="btn btn-default" />
            </div>
        </div>
    </div>
}

