@model IEnumerable<skjatextar.Models.Video>
@{
    ViewBag.Title = "Myndefni";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="content-translations">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="skjatextar">Myndefni</th>
                <th class="dateLastUpdated">Tegund</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var movie in Model)
            {
               <tr>
                   <td>@Html.ActionLink(movie.Name, "ViewVideo", new { id = movie.ID })</td>
                   <td></td>
               </tr>
            }
        </tbody>
    </table>
</div>