@model skjatextar.Models.Video
@{
    ViewBag.Title = "ViewVideo";
}

<div class="table-header-home">
    <span>Nýjustu 10</span>
</div>
<div class="content-home">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="translations">Allir textar fyrir ákveðna mynd</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>>@Model.Name</td>
                </tr>
            
        </tbody>
    </table>
</div>
