body {
    padding-top: 15px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tableCentered{
    margin-left:-31px;
}
.table-borderedTop{
    width:40%;
    position:absolute;
}
.table-borderedNewest{
    width:40%;
    margin-left:535px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#LeitarStrengur{
    width:280px;
    margin-top:20px;
    margin-bottom:40px;
    position:relative;
   border-radius:10px;
}
#searchForm{
     
}
#searchSubmit{
     color:black;
}

.logintakki
{
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    display: block;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 0.2;
    border-radius: 6px;
    margin-left: 120px;
}
.login-field
{
  margin-left: 1050px;
}
.password-takki
{
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #272b30;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-top:10px;
}
#register
{
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit{
    display:inline-block;
    margin-left: 79px;
}

#file{
    margin-bottom: 10px;
    margin-top:35px;
    margin-right: 55px;
    display:inline-block;
}

#radiobutton{
   display:inline-block;
     margin-bottom:15px;
    margin-top:15px;
}

#Titill{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    margin-right:98px;
}
#ID{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
    margin-right:62px;
}

#heyrn{
    display:inline-block;
    margin-bottom:10px;
    margin-top:10px;
}

#submittakki{
    display:block;
    margin-bottom:10px;
    margin-top:10px;
}

#dropdown{
    display:inline-block;
     margin-bottom:10px;
     margin-right:51px;
    margin-top:10px;
}

.content-homeN{
    font-size:12px;
    width: 20%;
    height:5%;
    margin-left:144px;
    position:absolute;
}
.content-homeP{
    font-size:12px;
    width: 20%;
    height:5%;
    margin-left: 420px;
    margin-top: 1px;
}
.GetTranslationById
{
    display: inline-block;
    text-decoration-color: red;
    text-align: center;
}
.VideoDropdown
{
    color: black;
    margin-left:30px;
}
.PageNumber{
    display: inline;
}

.categoriesTable{
    margin-bottom: 20px;
    text-decoration-skip:none;
    text-align:center;
    border-radius:10px;
}

.tableTranslations{
    border-radius:10px;
    width: 70%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

#translationHeader table.tableTranslations tr th{
    text-align:center;
    font-size:15px;
    font-weight: bold;

}

h3{
    text-align:center;
}
.viewTranslationTable{
    width:40%;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
}

.allTextToCenter{
    
    text-align:center;
}

.requestList{
    text-align:left;
    width:60%;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    display:inline-flexbox;
}

p span.newRequest{
    font-size: 20px;
    font-weight:bold;
}
form.form-search {
margin-left: auto;
margin-right: auto;
text-align: center;
}




