@model skjatextar.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="table-header-home">
    <span></span>
</div>

@using (Html.BeginForm("SearchView", "Video", @FormMethod.Get))
{
    <form>
        @Html.TextBox("LeitarStrengur", null, new { @class = "input-medium-search-query", @type = "Sláðu inn leitarstreng" })
        <input type="submit" value="Leita" />
    </form>
}


<div class="content-home">
    <table class="table table-borderedTop">
        <thead>
            <tr>
                <th class="translations">Top 10</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Top10)
            {
                <tr>
                    <td>@Html.ActionLink(item.Title, "ViewTranslation", new { id = item.ID })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="content-home">
    <table class="table table-borderedNewest">
        <thead>
            <tr>
                <th class="translations">Nýjustu 10</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Newest10)
            {
                <tr>
                    <td>@Html.ActionLink(item.Title, "ViewTranslation", new { id = item.ID })</td>
                </tr>
            }
        </tbody>
    </table>
</div>