@{
    ViewBag.Title = "Home Page";
}

<h2>Skjátextar</h2>

<!--<ul>-->
    <table class="table table-bordered">
        <tr>
            <th>Skjátextar</th>
            <th>Sent inn</th>
        </tr>
        @foreach (var item in Model)
        {
                <tr>
                    <td>>@item.Title</td>
                    <td>@item.DateLastEdited</td>
                </tr>
            
            @*<li class="Newest10">
                <div class="textClass">@item.Title</div>
                <div class="dateClass">@item.DateLastEdited</div>
            </li>*@
        }
    </table>
<!--</ul> -->