@{
    ViewBag.Title = "Home Page";
}

<h2>Skjátextar</h2>

<ul>
    @foreach (var item in Model)
    {
        <li class="Newest10">
            <div class="textClass">@item.Title</div>
            <div class="dateClass">@item.DateLastEdited</div>
        </li>
    }
</ul>