@model skjatextar.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="table-header-home">
    <span></span>
</div>

@using (Html.BeginForm("Videos", "Video", @FormMethod.Get, new { @class = "form-search" }))
{
    <div class ="input-append">
        
        @Html.TextBox("LeitarStrengur", null, new { @class = "span2 search-query", @type = "text" })
        <button type="submit" class="submitTakki"><span class="glyphicon glyphicon-search"></span></button>
        
        </div>
}


<div class="content-home">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="translations">Top 10</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Top10)
            {
                <tr>
                    <td>@Html.ActionLink(item.Title, "ViewTranslation", new { id = item.ID })</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="content-home">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="translations">Nýjustu 10</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Newest10)
            {
                <tr>
                    <td>@Html.ActionLink(item.Title, "ViewTranslation", new { id = item.ID })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
