@model IEnumerable<skjatextar.Models.Translation>
@{
    ViewBag.Title = "Home Page";
}

<h2>Skjátextar</h2>
    <div class="table-header-home">
        <span>Nýjustu 10</span>
    </div>
    <div class="content-home">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="translations">Nýjustu 10</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   <tr>
                        <td>@Html.ActionLink(item.Title, "ViewTranslation", new { id = item.ID })</td>
                   </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="content-home">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="translations">Vinsælast</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Title, "ViewTranslation", new { id = item.ID })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

