@{
    ViewBag.Title = "Home Page";
}

<h2>Skjátextar</h2>
    <div class="table-header-home">
        <span>Vinsælustu skjátextar</span>
    </div>
    <div class="content-home">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="translations">Skjátextar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TranslationTitle</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
