@{
    ViewBag.Title = "Hlaða inn skrá";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="submit">
    <form action="" method="post" enctype="multipart/form-data">

        <span>
            <label for="file">Veldu skrá: </label>
            <input class="choose" type="file" name="file" id="file" value="Veldu skrá" />
        </span>
        <select>
            <option value="1">Gaman</option>
            <option value="2">Spenna</option>
            <option value="3">Ævintýri</option>
            <option value="4">Rómantík</option>
            <option value="5">Dramatík</option>
            <option value="6">Hryllingur</option>
            <option value="7">Barnaefni</option>
            <option selected="selected">Veldu flokk</option>
        </select>
    </form>
    <br />
    <input type="radio" value="Heyrnaskertir">Heyrnaskertir ?<br />
    <br />

    <input type="button" id="inputTranslation" value="Senda inn skrá">
</div>
