@{
    ViewBag.Title = "Reglur";
}

<h3>Hér koma helstu reglur Textalands.</h3>

<h4>Almennar reglur:</h4>
<p>Markmið með að breyta skjátextum er aðeins til að bæta þá eða klára ókláraða texta.</p>
<p>Merkja skal skrár með réttum titil o.s.frv.</p>
<p>Kvartanir undan kerfinu eða notendum skulu berast á textaland@textaland.is.</p>
<p>Stjórnendur áskilja sér rétt til að breyta reglum án fyrirvara.</p>

<h4>Tjáningareglur:</h4>
<p>Sýniði kurteisi og virðingu í commentum.</p>
<p>Tvípóstun(spam) er stranlega bannað.</p>
<p>Í fyrirspurnarkerfinu skal skrifa stuttar og hnitmiðaðar beiðnir.</p>
<p>Þú skalt ekki leggja nafn Drottins Guðs þíns við hégóma.</p>
