@model skjatextar.Models.Translation
@{
    ViewBag.Title = "ViewTranslation";
}


@Model.Title
@Model.Text
@Model.LikeCount

@using (Html.BeginForm())
{
    <div class="GetTranslationById">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="File://localhost/C:/Users/Petur/Documents/prufa/test.srt" download="PeturYouAreAGenious.srt"><input type="submit" value="Download" /></a>
            </div>
        </div>
    </div>
}

