@model IEnumerable<skjatextar.Models.Comment>
@{
    ViewBag.Title = "ViewTranslation";
}

@using (Html.BeginForm())
{
    <div class="GetTranslationById">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="File://localhost/C:/Users/Petur/Documents/prufa/test.srt" download="PeturYouAreAGenious.srt"><input type="submit" value="Download" /></a>
            </div>
        </div>
    </div>
}

<ul class="list-group">
    @foreach(var item in Model)
    {

        <li class="list-group-item">
            <p>
                <span class="glyphicon glyphicon-user"></span>
                <span>@item.CommentText</span>
            </p>
            <p>
                <span class="text-muted">@item.commentDate.ToString("dd. MMMM HH:mm") - </span>
                <a class="like-comment" href="#">Like <span class="glyphicon glyphicon-thumbs-up"></span></a>
            </p>
        </li>
    }
    <li class="list-group-item">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <label class="sr-only" for="CommentText">Comment</label>
                <textarea class="form-control" rows="3" id="CommentText" name="CommentText"></textarea>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
            @Html.ValidationSummary(false)
        }
    </li>
</ul>
