@model skjatextar.Models.Translation
@{
    ViewBag.Title = "ViewTranslation";
}
<h2>@Model.Title</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nafn</th>
            <th>Síðast uppfært</th>
            <th>Fjöldi like-a</th>
            <th>Fjöldi þýðinga</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Title</td>
            <td>@Model.DateLastEdited</td>
            <td>@Model.LikeCount</td>
        </tr>
    </tbody>
    
</table>
@using (Html.BeginForm())
{
    <div class="GetTranslationById">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="File://localhost/C:/Users/Petur/Documents/prufa/test.srt" download="PeturYouAreAGenious.srt"><input type="submit" value="Download" /></a>
            </div>
        </div>
    </div>
}

