@{
    ViewBag.Title = "Fyrirspurnir";
}

<h2>Fyrirspurnir</h2>

<button>Senda inn fyrirspurn</button>

<div id="requestTable">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fyrirspurnir</th>
                <th>Dagsetning</th>
                <th>Notendanafn</th>
            </tr>
        </thead>
        <tbody>
          
        </tbody>
        
    </table>
</div>