@model IEnumerable<skjatextar.Models.Request>
@{
    ViewBag.Title = "Fyrirspurnir";
}

<h2>Fyrirspurnir</h2>

@*<button class="btnAddNewRequest">Senda inn fyrirspurn</button>*@
@Html.ActionLink("Senda inn fyrirspurn", "AddNewRequest", new { @class = "btn" })

<div id="requestTable">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Fyrirspurnir</th>
                <th>Dagsetning</th>
                <th>Notendanafn</th>
            </tr>
        </thead>
        <tbody>
          @foreach(var item in Model)
          {
              <tr>
                  <td>@item.NewRequest</td>
                  <td>@item.RequestSent</td>
                  <td>@item.Username</td>
              </tr>
          }
        </tbody>
        
    </table>
</div>
